
<footer class="text-dark bg-image";">
    <div class="container">
      <div class="row">
   <div class="col-4">
    <div class="pr-xl-5"><a class="brand-2" href="/"><img class="logo-ft brand-logo-light" src="/public/img/logo.png" alt=""></a>
            <!-- Copyright-->
    <p class="copyr"><span class="text-white">©</span><span class=" text-white ">2020</span><span> </span><span class="text-white">Claudio Sapia</span><span class="text-white">. </span><span class="text-white">All Rights Reserved.</span></p>
          </div>
  </div>
      <div class="col-4">
    <p class="about-footer">Staycation is the best place to find interesting stories and reviews about destinations from all over the world. </p>
        </div>
        <div class="col-4">
          <ul class="link-list mt-6">
            <li><a href="#">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
      </div>
    </div>

    <div class="row mt-4 ">
      <div class="col-3"><a href="#"><span class="i-hover"><i class="fab fa-2x fa-facebook"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="soc i-hover"><i class="fab fa-2x fa-instagram"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="i-hover" ><i class="fab fa-2x fa-twitter-square"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="soc i-hover"><i class="fab fa-2x fa-google-plus-g"></i></span></a></div>
    </div>
  </footer>
